<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.create.fakerestapi.TestFakeAPI</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>test_get_user</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_get_subject</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_put_user</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_delete_user</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_post_user</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_patch_user</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
