<h2>Methods that were not run</h2><table>
<tr><td>com.create.fakerestapi.TestFakeAPI.test_get_subject</td></tr>
<tr><td>com.create.fakerestapi.TestFakeAPI.test_put_user</td></tr>
<tr><td>com.create.fakerestapi.TestFakeAPI.test_post_user</td></tr>
<tr><td>com.create.fakerestapi.TestFakeAPI.test_get_user</td></tr>
<tr><td>com.create.fakerestapi.TestFakeAPI.test_patch_user</td></tr>
</table>